nav {
  text-align: center;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  padding: 5px;
  color: black;
  font-weight: bolder;
}

nav a:hover {
  text-decoration: underline;
}

main {
  text-align: center;
  margin-top: 15px;
}